.page-template-page_personal_cabinet-order #page {
  background: url('../img/orders-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}

#personal_cabinet_wrapper {
  min-height: 675px;
  padding: 60px 0;
}

.cabinet_profile_wrapper,
.cabinet_orders_list {
  background: rgba(247, 247, 247, 0.9);
  padding: 20px;
  position: relative;
}

.cabinet_orders_title {
  font-size: 24px;
  line-height: 28px;
  color: #373331;
  font-weight: 600;
  margin-bottom: 30px;
}

.cabinet_sitebar_wrapper_image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 20px auto;
}

.cabinet_sitebar_wrapper_user_name {
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  color: #FDFDFD;
}

.cabinet_sitebar_wrapper_user_navigation_container {
  padding-left: 0;
}

.cabinet_sitebar_wrapper_user_navigation_item {
  list-style: none;
  padding: 10px 23px;
}

.cabinet_sitebar_wrapper_user_navigation_item a {
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}

.cabinet_sitebar_wrapper_user_navigation_item.active {
  background-color: #7E50BF;
  border-radius: 2px;
  position: relative;
}

.cabinet_sitebar_wrapper_user_navigation_item.active::after {
  content: '';
  position: absolute;
  right: 23px;
  top: 50%;
  transform: translateY(-50%);
  background: url('../img/arrow-right.svg');
  width: 7px;
  height: 11px;
}

.cabinet_product_item {
  margin-bottom: 20px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  margin-bottom: 70px;
}

.cabinet_product_item:last-child {
  margin-bottom: 0;
}

.cabinet_product_item_img_wrapper img {
  height: 200px;
  margin-right: 30px;
  width: 114px;
  height: 144px;
  object-fit: cover;
  border-radius: 2px;
  overflow: hidden;
}

.cabinet_product_item_text_wrapper {
  margin-right: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cabinet_product_item_text_wrapper p {
  display: flex;
}

.cabinet_product_item_text_wrapper p span:first-child {
  font-weight: 600;
  width: 100px;
}

.cabinet_product_item_text_wrapper p span.processing {
  color: #FFB628;
}

.cabinet_product_item_text_wrapper p span.delivered {
  color: #50BF5B;
}

.cabinet_product_item_text_wrapper p:last-child {
  margin-bottom: 0;
}

.cabinet_product_item_btn_wrapper {
  display: flex;
  align-items: flex-end;
}

.cabinet_product_item_btn_wrapper a {
  border: 1px solid #7E50BF;
  border-radius: 2px;
  color: #7E50BF;
  padding: 7px 30px;
  font-weight: 600;
}

.cabinet_product_item_text_wrapper p span {
  font-size: 12px;
  line-height: 14px;
  color: #373331;
  text-align: left;
}

.personal_area_wrapper_line {
  margin-bottom: 50px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.personal_area_name_wrapper {
  width: 33.333%;
}

/* cabinet profile */
.page-template-page_personal_cabinet-profile #page {
  background: url('../img/orders-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}

/* .page-template-page_personal_cabinet-profile #personal_cabinet_wrapper {
  background: rgba(247, 247, 247, 0.9);
}

#personal_cabinet_wrapper .cabinet_sitebar_wrapper_user_name,
#personal_cabinet_wrapper .cabinet_sitebar_wrapper_user_navigation_item a {
  color: #373331
}

#personal_cabinet_wrapper .cabinet_sitebar_wrapper_user_navigation_item.active a {
  color: #fff
} */
.cabinet_profile_title {
  font-size: 24px;
  line-height: 28px;
  color: #7E50BF;
  position: relative;
  width: 150px;
  font-weight: 600;
  margin-bottom: 37px;
}

.cabinet_profile_title::after {
  content: '';
  background: #7E50BF;
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: -3px;
}

#user_information_form label {
  display: inline-block;
  margin-bottom: 0.5rem;
  margin-right: 24px;
  font-weight: bold;
}

#user_information_form p {
  margin-bottom: 26px;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

/* #user_information_form #user_information_form_user_sex {
  border: none;
  background-color: transparent;
} */

#profile_user_add_form_main_wrapper {
  display: none;
}

#user_information_form_submite,
#edit_user_main_information {
  background: #7E50BF;
  border-radius: 2px;
  color: #fff;
  padding: 10px 50px;
  cursor: pointer;
}

.personal_area_wrapper_line_header {
  font-size: 14px;
  line-height: 16px;
  color: #4A4A4A;
}

.personal_area_wrapper_line_text {
  font-size: 16px;
  line-height: 19px;
  color: #373331
}

#user_information_form select,
#user_information_form textarea,
#user_information_form input {
  border: 0;
  outline: none;
  background: transparent;
  padding: 6px 10px;
  color: #373331;
  border-radius: 2px;
  border: 1px solid #C4C4C4;
  width: 100%;
}

#user_information_form {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.user_information_form_user_id_wrap {
  display: none !important;
}

#user_information_form_user_address_wrap {
  width: 100% !important;
}

#user_information_form_user_address {
  width: 100% !important;
  resize: none;
  max-height: 35px;
  overflow: hidden;
}

.user_information_form_submite_wrap {
  width: 100% !important;
}

#user_information_form_user_img {
  background: #000;
}