/* ================== FOOTER START  ================== */
#footer-menu {
  padding-left: 0;
}

.footer_container {
  padding: 47px;
  position: relative;
  width: 100%;
  height: 280px;
}

.footer_container p {
  color: #fff;
}

.footer_container_img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(../img/footer_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.footer_container_img_fill {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.footer_wrapper_menu {
  width: 870px;
  margin: 0 auto;
  margin-bottom: 60px;
}

.footer__nav ul {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.footer__nav ul li {
  list-style: none;
}

.footer__nav ul li a {
  font-size: 14px;
  line-height: 16px;
  color: #F7F7F7;
}

.footer_information_wrapper {
  width: 870px;
  margin: 0 auto;
}

.footer_information_wrapper {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.footer_information_wrapper_phone_wrappe_title,
.footer_information_wrapper_maile_wrapper_title,
.footer_information_wrapper_adress_wrapper_title,
.footer_information_wrapper_social_wrapper_title {
  font-size: 18px;
  line-height: 20px;
  color: #F7F7F7;
}

.footer_information_wrapper p {
  font-size: 14px;
  line-height: 16px;
  color: #F7F7F7;
  margin-bottom: 8px;
}

.footer_information_wrapper_maile_wrapper_text {
  padding-left: 25px;
  position: relative;
}

.footer_information_wrapper_maile_wrapper_text:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 12px;
  background-image: url(../img/mail_icon.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.footer_information_wrapper_adress_wrapper_text {
  padding-left: 25px;
  position: relative;
}

.footer_information_wrapper_adress_wrapper_text:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 18px;
  background-image: url(../img/map_plaseholder_icon.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.footer_information_wrapper_social_wrapper_container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.footer_information_wrapper_social_wrapper_container_facebook,
.footer_information_wrapper_social_wrapper_container_twitter,
.footer_information_wrapper_social_wrapper_container_instagram,
.footer_information_wrapper_social_wrapper_container_youtube {
  display: block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 50%;
}

.footer_information_wrapper_social_wrapper_container_facebook {
  background-color: #fff;
  background-image: url(../img/facebook_icon_bl.svg);
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
}

.footer_information_wrapper_social_wrapper_container_twitter {
  background-color: #fff;
  background-image: url(../img/twitter_icon_bl.svg);
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
}

.footer_information_wrapper_social_wrapper_container_instagram {
  background-color: #fff;
  background-image: url(../img/instagram_icon_bl.svg);
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
}

.footer_information_wrapper_social_wrapper_container_youtube {
  background-color: #fff;
  background-image: url(../img/youtube_icon_bl.svg);
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
}

.feedback_btn_wrapper {
  position: fixed;
  right: 80px;
  bottom: 60px;
  width: 105px;
  height: 105px;
}

.feedback_btn_container {
  position: relative;
  width: 105px;
  height: 105px;
}

.feedback_btn_container_btn {
  width: 64px;
  height: 64px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -32px;
  margin-left: -32px;
  background: #7E50BF;
  border-radius: 50%;
  box-shadow: 0px 0px 1px 1px #0000001a;
  animation: pulse-animation 2s infinite;
  background-image: url(../img/call_icon_svg.svg);
  background-size: 35px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.feedback_btn_container_btn:hover {
  transform: scale(0.9);
}

@-webkit-keyframes pulse-animation {
  0% {
    -webkit-box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.4);
  }

  100% {
    -webkit-box-shadow: 0 0 0 40px rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 40px rgba(0, 0, 0, 0);
  }
}

@keyframes pulse-animation {
  0% {
    -webkit-box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.4);
  }

  100% {
    -webkit-box-shadow: 0 0 0 40px rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 40px rgba(0, 0, 0, 0);
  }
}

.feedback_modal_wrapper_body_cover {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
}

.feedback_modal_wrapper_body_cover.open {
  display: block;
}

.feedback_modal_wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.feedback_modal_container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -240px;
  margin-left: -315px;
  width: 630px;
  height: 480px;
  background: #F7F7F7;
  box-shadow: inset 3px 3px 6px #FFFFFF, inset -3px -3px 6px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.feedback_modal_container_main_content {
  position: relative;
}

.feedback_modal_container_close_btn {
  position: absolute;
  top: 0px;
  right: 24px;
  width: 24px;
  height: 24px;
  background-image: url(../img/call_modal_close_icon_svg.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.feedback_modal_container_main_content_img_wrapper {
  width: 290px;
  height: 230px;
  margin: 24px auto 10px auto;
  background-image: url(../img/elvog_img.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.feedback_modal_container_main_content_text_wrapper_header {
  margin: 10px 20px 2px 20px;
  font-weight: bold;
  font-size: 34px;
  line-height: 40px;
  text-align: center;
  color: #241637;
}

.feedback_modal_container_main_content_text_wrapper_text {
  margin: 10px auto 2px auto;
  max-width: 410px;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #A28787;
}

.feedback_modal_container_main_content_form_wrapper {
  width: 530px;
  height: 50px;
  margin: 20px auto 2px auto;
}

#callback_form_wrapper {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

#callback_form_wrapper_fild_container {
  position: relative;
}

#callback_form_wrapper_fild_container input {
  border: none;
  width: 291px;
  height: 47px;
  background: #EBE3F7;
  border-radius: 2px;
  margin-right: 17px;
  padding-left: 48px;
}

#callback_form_wrapper_fild_container_icon {
  width: 21px;
  height: 21px;
  position: absolute;
  top: 12px;
  left: 15px;
  z-index: 9;
  background-image: url(../img/icon_in_form_fild_svg.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#callback_form_wrapper_fild_container input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 20px;
  line-height: 23px;
  color: #BEABD0;
}

#callback_form_wrapper_fild_container input::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 20px;
  line-height: 23px;
  color: #BEABD0;
}

#callback_form_wrapper_fild_container input:-ms-input-placeholder {
  /* IE 10+ */
  font-size: 20px;
  line-height: 23px;
  color: #BEABD0;
}

#callback_form_wrapper_fild_container input:-moz-placeholder {
  /* Firefox 18- */
  font-size: 20px;
  line-height: 23px;
  color: #BEABD0;
}

#callback_form_wrapper_btn_container input {
  border: none;
  width: 220px;
  height: 47px;
  left: 766px;
  top: 1181px;
  background: #7E50BF;
  border-radius: 2px;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #F7F7F7;
}

.feedback_modal_wrapper_body_cover .wpcf7-response-output {
  display: none !important;
}

/* ================== FOOTER END  ================== */