/* ================== PRODUCT CARD  START  ================== */
.woocommerce-loop-product__title {
  text-transform: capitalize;
}

li.product .star-rating {
  margin: 0 auto !important;
  float: none !important;
}

.container_variant_line .list_item_variant_line {
  display: none;
}

.list_item_variant_line {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list_item_variant_block {
  display: none;
}

.container_variant_line .list_item_variant_block {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.single-stock .container_variant_line .product,
.page-template-page_personal_cabinet-favorits .container_variant_line .product,
.archive .container_variant_line .product {
  float: left !important;
  margin: 0 3.8% 2.992em 0 !important;
  padding: 0 !important;
  position: relative !important;
  width: 100% !important;
  margin-left: 0 !important;
  max-width: 100% !important;
}

.single-stock .product,
.page-template-page_personal_cabinet-favorits .product,
.home_page_product_line_container .product,
.archive .product {
  /* max-width: 192px; */
  margin: 0px 10px;
  /* padding-bottom: 14px !important; */
  position: relative;
  background: #FCFCFC;
  box-shadow: 0px 13px 16px rgba(89, 92, 150, 0.05);
  border-radius: 2px;
  list-style: none;
  text-align: center;
  min-height: 340px;
}

.home_page_product_line_container .slick-list {
  padding: 0 5px;
}

.single-stock .product .remowe_like_btn,
.page-template-page_personal_cabinet-favorits .product .remowe_like_btn,
.home_page_product_line_container .product .remowe_like_btn,
.archive .product .remowe_like_btn,
.plug_product_cart_wrapper .remowe_like_btn,
.single-stock .product .like_btn,
.page-template-page_personal_cabinet-favorits .product .like_btn,
.home_page_product_line_container .product .like_btn,
.archive .product .like_btn,
.plug_product_cart_wrapper .like_btn {
  position: absolute;
  right: 10px;
  top: 10px;
  /* opacity: 0; */
  transition: .3s;
  background: url("../img/like-icon.svg");
  background-size: contain;
  width: 19px;
  height: 17px;
  cursor: pointer;
}

.plug_product_cart_wrapper .like_btn_not_register,
.product .like_btn_not_register {
  position: absolute;
  right: 10px;
  top: 10px;
  /* opacity: 0; */
  transition: .3s;
  background: url(../img/like-icon.svg);
  background-size: contain;
  width: 18px;
  height: 16px;
  cursor: pointer;
}

.product:hover .like_btn_not_register {
  opacity: 1;
}

.single-stock .product .remowe_like_btn,
.page-template-page_personal_cabinet-favorits .product .remowe_like_btn,
.home_page_product_line_container .product .remowe_like_btn,
.archive .product .remowe_like_btn,
.plug_product_cart_wrapper .remowe_like_btn {
  background: url('../img/remove-like-icon.svg');
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 1
}

.single-stock .product:hover .like_btn,
.page-template-page_personal_cabinet-favorits .product:hover .like_btn,
.home_page_product_line_container .product:hover .like_btn,
.archive .product:hover .like_btn {
  opacity: 1;
}

.single-stock .product img,
.page-template-page_personal_cabinet-favorits .product img,
.home_page_product_line_container .product img,
.archive .product img {
  width: 100%;
  object-fit: cover;
  margin-bottom: 11px;
  height: 140px;
}

.page-template-page_personal_cabinet-favorits .product img,
.tax-product_cat .product img {
  height: 130px !important;
}

.archive .container_variant_line .product img {
  width: 300px !important;
  height: auto !important;
  margin-bottom: 20px !important;
}

.single-stock .product .woocommerce-loop-product__title,
.page-template-page_personal_cabinet-favorits .product .woocommerce-loop-product__title,
.home_page_product_line_container .product .woocommerce-loop-product__title,
.archive .product .woocommerce-loop-product__title {
  font-size: 18px !important;
  min-height: 54px !important;
  line-height: 16px !important;
  font-weight: 600 !important;
  text-align: center !important;
  color: #373331 !important;
  padding: 10px 15px !important;
}

.product .cart_content_line {
  font-size: 13px;
  line-height: 100%;
  margin-bottom: 5px;
  text-align: center;
  color: #4A4A4A;
  padding: 0 10px;
  font-weight: 600;
  min-height: 24px;
}

.woocommerce .products .star-rating {
  margin-bottom: 5px !important;
}

.single-stock .product .price,
.page-template-page_personal_cabinet-favorits .product .price,
.home_page_product_line_container .product .price,
.archive .product .price {
  min-height: 40px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  flex-direction: row-reverse;
}

/* .single-product .home_page_product_line_container .product {
  max-width: 192px;
} */
.single-product .home_page_product_line_container {
  justify-content: flex-start;
}

.home_page_product_line_container .product .price,
.archive .product .price {
  padding: 5px;
  min-height: 24px !important;
}

.price bdi {
  font-size: 18px;
  font-weight: bolder;
  line-height: 20px;
  color: #7E50BF;
  text-align: center;
  text-decoration: none;
}

a.woocommerce-LoopProduct-link.woocommerce-loop-product__link {
  color: #8F8F8F !important;
  text-decoration: none;
}

/* .price del {
  display: block !important;
} */
.price del bdi {
  font-size: 14px !important;
  line-height: 16px !important;
  color: #8F8F8F !important;
  text-align: center;
}

.price ins {
  text-decoration: none !important;
}

.price ins bdi {
  display: block !important;
  font-size: 18px;
  font-weight: bolder;
  line-height: 20px;
  color: #7E50BF;
  text-align: center;
  margin-right: 8px;
}

.woocommerce-Price-currencySymbol {
  text-decoration: none;
}

.single-stock span.onsale,
.single-product span.onsale,
.page-template-page_personal_cabinet-favorits span.onsale,
.home_page_product_line_container span.onsale,
.archive span.onsale {
  width: fit-content;
  min-height: 17px !important;
  padding: 2px 4px !important;
  font-size: 11px !important;
  font-weight: 400 !important;
  position: absolute !important;
  text-align: center !important;
  line-height: 14px !important;
  top: 50px !important;
  left: -20px !important;
  margin: 0 !important;
  border-radius: 0 !important;
  background-color: #DF2222 !important;
  color: #fff !important;
  font-size: 11px !important;
  z-index: 9 !important;
  transform: rotate(-90deg) !important;
  text-transform: uppercase !important;
}

.product a.button {
  text-transform: uppercase !important;
  margin: 10px 5px 5px 5px !important;
  margin-bottom: 0 !important;
  cursor: pointer !important;
  position: relative !important;
  text-decoration: none !important;
  overflow: visible !important;
  padding: 10px 18px !important;
  font-weight: 600 !important;
  border-radius: 2px !important;
  left: auto !important;
  border: 0 !important;
  background-image: none !important;
  box-shadow: none !important;
  text-shadow: none !important;
  background-color: transparent !important;
  width: 100%;
  border-top: 1px solid #DCDCDC !important;
  color: #7E50BF !important;
  font-size: 16px !important;
  line-height: 19px !important;
}

.product a.button:hover {
  background-color: #7E50BF !important;
  color: #fff !important;
}

.archive .container_variant_line .product a.button {
  opacity: 1;
}

.product:hover a.button {
  opacity: 1;
}

.list_item_variant_block {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 25px;
}

.list_item_variant_block .list_item_variant_block_img {
  width: 192px !important;
}

.list_item_variant_block .list_item_variant_block_img img {
  width: 192px !important;
  height: auto !important;
  margin-bottom: 0 !important;
  max-width: 192px !important;
}

.archive .container_variant_line .list_item_variant_block .list_item_variant_block_img img {
  margin-bottom: 0px !important;
}

.list_item_variant_block .list_item_variant_block_content {
  padding-left: 50px;
}

.list_item_variant_block .list_item_variant_block_content .woocommerce-loop-product__title {
  font-size: 20px !important;
  line-height: 22px !important;
  font-weight: 600 !important;
  text-align: center !important;
  color: #373331 !important;
  padding-top: 20px !important;
  padding-bottom: 5px !important;
  padding-top: 0px !important;
}

.list_item_variant_block .list_item_variant_block_content .price {
  font-size: 16px !important;
  line-height: 18px !important;
  color: #7E50BF !important;
  display: block !important;
  text-align: center !important;
  padding: 10px 5px !important;
  font-weight: bolder !important;
}

.list_item_variant_block_content p {
  font-size: 14px !important;
  line-height: 18px !important;
  text-align: center !important;
  color: #373331 !important;
  padding-top: 20px !important;
  padding-bottom: 5px !important;
  padding-top: 0px !important;
}

.list_item_variant_block_content a.button {
  display: none;
  font-size: 12px !important;
  text-transform: uppercase !important;
  margin: 0 !important;
  line-height: 1 !important;
  cursor: pointer !important;
  position: relative !important;
  text-decoration: none !important;
  overflow: visible !important;
  padding: 9px 10px !important;
  font-weight: 400 !important;
  border-radius: 2px !important;
  left: auto !important;
  color: #fff !important;
  background-color: #7E50BF !important;
  border: 0 !important;
  background-image: none !important;
  box-shadow: none !important;
  text-shadow: none !important;
  width: 150px !important;
  margin: 10px auto 0 auto !important;
}

.like_btn {
  width: 60px;
  height: 60px;
  background-color: green;
}

.remowe_like_btn {
  width: 60px;
  height: 60px;
  background-color: red;
}

.show_like_btn {
  display: block;
}

.hide_like_btn {
  display: none;
}

.single-stock .columns-4,
.page-template-page_personal_cabinet-favorits .columns-4 {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-left: 0;
}

.single-stock .columns-4 li,
.page-template-page_personal_cabinet-favorits .columns-4 li {
  max-width: 224px;
  margin-bottom: 40px;
  margin-right: 57px;
}

.single-stock .columns-4 li:nth-child(4n),
.page-template-page_personal_cabinet-favorits .columns-4 li:nth-child(4n) {
  margin-right: 0px;
}

.single-stock .main_product_container {
  padding-left: 0px;
  padding-right: 0px;
}

.list_item_variant_block {
  padding: 0;
}

.list_item_variant_block .list_item_variant_block_content {
  padding-left: 30px !important;
  width: 100%;
}

.list_item_variant_block .list_item_variant_block_content {
  padding-left: 30px !important;
}

.container_variant_line .remowe_like_btn {
  width: 22px !important;
  height: 21px !important;
  background-repeat: no-repeat !important;
}

.container_variant_line .like_btn {
  width: 21px !important;
  height: 18px !important;
  background-repeat: no-repeat !important;
}

.list_item_variant_block .cart_content {
  font-size: 13px !important;
  line-height: 16px !important;
  color: #4A4A4A !important;
  margin-bottom: 0px !important;
  max-width: 430px;
}

.list_item_variant_block .list_item_variant_block_content .price {
  padding: 7px 0 !important;
  min-height: 30px !important;
}

.list_item_variant_block_content_header {
  height: 30px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container_variant_line li.product .list_item_variant_block_content_header .price {
  display: none !important;
}

.page-template-page_personal_cabinet-favorits .list_item_variant_block_content_header h2.woocommerce-loop-product__title,
.stock-template-default .list_item_variant_block_content_header h2.woocommerce-loop-product__title,
.archive .product .list_item_variant_block_content_header h2.woocommerce-loop-product__title {
  line-height: 45px !important;
  padding-right: 30px !important;
  padding-left: 0px !important
}

.list_item_variant_block_content_footer .price ins bdi {
  display: inline-block !important
}

.list_item_variant_block_content_header a.woocommerce-LoopProduct-link.woocommerce-loop-product__link {
  font-size: 18px !important;
  color: #373331 !important;
}

.list_item_variant_block_content_footer h2.woocommerce-loop-product__title {
  display: none !important;
}

.list_item_variant_block_content_footer .star-rating {
  display: none !important;
}

/*======================================================
              CONTEINER VARIANT LINE START
====================================================== */
.container_variant_line .product {
  background: transparent !important;
  box-shadow: unset !important;
}

.stock-template-default .list_item_variant_block a.button,
.page-template-page_personal_cabinet-favorits .list_item_variant_block a.button,
.woocommerce .list_item_variant_block a.button {
  font-size: 16px !important;
  text-transform: uppercase !important;
  margin: 0 !important;
  line-height: 1 !important;
  cursor: pointer !important;
  position: relative !important;
  text-decoration: none !important;
  overflow: visible !important;
  padding: 11px 13px !important;
  font-weight: 600 !important;
  border-radius: 2px !important;
  left: auto !important;
  color: #7e50bf !important;
  background-color: transparent !important;
  border: 2px solid #7e50bf !important;
  background-image: none !important;
  box-shadow: none !important;
  text-shadow: none !important;
  width: 160px !important;
  margin: 0 !important;
}

.page-template-page_personal_cabinet-favorits .list_item_variant_block a.button:hover,
.woocommerce .list_item_variant_block a.button:hover {
  color: #fff !important;
  background-color: #7e50bf !important;
  border: 2px solid #7e50bf !important;
}

.list_item_variant_block .list_item_variant_block_img {
  width: 220px !important;
  height: 164px !important;
  overflow: hidden !important;
}

.single-stock .container_variant_line .product {
  margin: 0 3.8% 26px 0 !important;
}

/* .list_item_variant_block .price del, .list_item_variant_block .price bdi {
  display: inline-block !important;
} */
.container_variant_line .onsale {
  display: none;
}

.archive .container_variant_line .product {
  margin: 0px 3.8% 30px 0 !important;
}

.archive .container_variant_line .list_item_variant_block .list_item_variant_block_img img {
  margin-bottom: 0 !important;
  max-height: 190px !important;
}

.container_variant_line .product {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

@media screen and (max-width: 640px) {
  .list_item_variant_block {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: start;
    -ms-flex-pack: justify;
    justify-content: start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 5px;
  }

  .list_item_variant_block_content_header {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .list_item_variant_block_content_footer {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .list_item_variant_block .list_item_variant_block_content {
    padding-left: 30px !important;
    width: calc(100% - 70px);
  }

  .archive .product .list_item_variant_block_content_header h2.woocommerce-loop-product__title {
    line-height: 16px !important;
    padding-right: 30px !important;
  }

  .list_item_variant_block .cart_content {
    margin-top: 16px;
  }

  .list_item_variant_block .list_item_variant_block_content {
    padding-left: 10px !important;
  }

  .list_item_variant_block .list_item_variant_block_img {
    width: 105px !important;
    min-width: 105px;
    height: 110px !important;
    overflow: hidden !important;
  }

  .list_item_variant_block .list_item_variant_block_img img {
    max-width: 110px !important;
    max-height: 110px !important;
  }

  .list_item_variant_block .list_item_variant_block_img {
    margin-bottom: 0px !important;
  }

  .list_item_variant_block_content_header a.woocommerce-LoopProduct-link.woocommerce-loop-product__link {
    font-size: 18px !important;
    color: #373331 !important;
    width: 240px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .stock-template-default .list_item_variant_block a.add_to_cart_button.ajax_add_to_cart,
  .page-template-page_personal_cabinet-favorits .list_item_variant_block a.add_to_cart_button.ajax_add_to_cart,
  .woocommerce .list_item_variant_block a.add_to_cart_button.ajax_add_to_cart {
    font-size: 12px !important;
    text-transform: uppercase !important;
    margin: 0 !important;
    line-height: 1 !important;
    cursor: pointer !important;
    position: relative !important;
    text-decoration: none !important;
    overflow: visible !important;
    padding: 6px 5px !important;
    font-weight: 600 !important;
    border-radius: 2px !important;
    left: auto !important;
    color: #7e50bf !important;
    background-color: transparent !important;
    border: 2px solid #7e50bf !important;
    background-image: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
    width: 120px !important;
    margin: 0 !important;
  }

  .woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    margin-right: 0px !important;
  }

  .archive .container_variant_line .product {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .container_variant_line .remowe_like_btn {
    width: 18px !important;
    height: 16px !important;
    background-repeat: no-repeat !important;
  }

  .container_variant_line .like_btn {
    width: 18px !important;
    height: 16px !important;
    background-repeat: no-repeat !important;
  }

  .list_item_variant_block .list_item_variant_block_content .price {
    padding: 4px 5px !important;
  }

  .woocommerce ul.products li.product .price {
    margin-bottom: 2px !important;
  }

  .container_variant_line .product {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

@media screen and (max-width: 375px) {
  .list_item_variant_block .list_item_variant_block_content {
    width: calc(100% - 98px);
  }
}

/*======================================================
              CONTEINER VARIANT LINE END
====================================================== */
.home_page_product_line_container .product .woocommerce-loop-product__title {
  font-size: 16px !important;
  min-height: 45px !important;
  line-height: 16px !important;
  font-weight: 600 !important;
  text-align: center !important;
  color: #373331 !important;
  padding: 10px 15px !important;
}

/* ================== PRODUCT CARD  END  ================== */