/* ================== SINGLE PRODUCT START  ================== */
.single-product .kama_breadcrumbs {
  padding-top: 10px;
}

.stock.out-of-stock {
  padding-left: 50px;
  padding-top: 30px;
}

.single_product_main_container {
  margin-top: 40px;
}

.single-product .woocommerce-product-details__short-description {
  display: none !important;
}

.single-product .payment_methods {
  display: none !important;
}

.single-product .entry-summary h2 {
  /* display: none; */
}

.single-product .sku_wrapper {
  display: block;
}

.single-product .posted_in {
  display: none;
}

.single-product .product_title.entry-title {
  font-weight: bold;
  margin-top: 0px !important;
  margin-bottom: 9px !important;
  font-size: 24px;
  line-height: 28px;
  color: #373331;
}

.single-product .woocommerce-product-gallery {
  width: 630px !important;
}

.single-product .entry-summary {
  width: 480px !important;
}

.single-product .quantity input.input-text {
  display: none;
}

.woocommerce div.product p.price,
.woocommerce div.product span.price {
  color: #77a464;
  font-size: 26px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.single-product .woocommerce_custom_wrapper_start .price {
  font-size: 26px;
  line-height: 30px;
  color: #373331 !important;
  font-weight: bold;
  margin-bottom: 60px !important;
}

.single-product .sku_wrapper {
  font-size: 18px;
  line-height: 21px;
  font-weight: bold;
  color: #4A4A4A;
  margin-bottom: 20px;
}

.single-product .product_material {
  display: block;
  font-size: 18px;
  line-height: 21px;
  font-weight: bold;
  color: #4A4A4A;
  margin-bottom: 20px;
}

.single-product .product_weight {
  display: block;
  font-size: 18px;
  line-height: 21px;
  font-weight: bold;
  color: #4A4A4A;
  margin-bottom: 20px;
}

.single-product .woocommerce_custom_wrapper_start {
  position: relative;
  background-color: #ECECEC;
  padding: 33px 40px 5px 45px;
}

.woocommerce_custom_wrapper_start .woocommerce-Price-currencySymbol,
.woocommerce_custom_wrapper_start .price ins bdi,
.woocommerce_custom_wrapper_start .price bdi {
  display: flex !important;
  flex-direction: row-reverse;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.woocommerce-variation.single_variation {
  display: none !important;
}

.single_product_btn {
  width: 40px;
  position: absolute;
  top: 25px;
  right: 16px;
  padding: 0;
}

.single_product_btn li {
  position: relative;
}

.single-product .like_btn {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 40px;
  height: 40px;
  background: url("../img/like-icon.svg");
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
}

.single-product .remowe_like_btn {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 40px;
  height: 40px;
  background: url('../img/remove-like-icon.svg');
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
}

.single_product_btn li {
  list-style: none;
}

.single-product .variations {
  margin-left: 50px;
  margin-top: 40px;
}

.single-product .woocommerce-variation-description {
  margin-left: 50px;
}

.single-product .woocommerce-variation-price {
  margin-left: 50px;
}

.single-product div.product form.cart {
  margin-bottom: 25px;
}

.single-product .single_add_to_cart_button,
.single-product .quantity button {
  appearance: auto !important;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto !important;
  color: -internal-light-dark(black, white) !important;
  letter-spacing: normal !important;
  word-spacing: normal !important;
  text-transform: none !important;
  text-indent: 0px !important;
  text-shadow: none !important;
  display: inline-block !important;
  text-align: center !important;
  align-items: flex-start !important;
  cursor: default !important;
  background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59)) !important;
  box-sizing: border-box !important;
  margin: 0em !important;
  font: 400 18.3333px Roboto !important;
  padding: 1px 6px !important;
  border-width: 0 !important;
  border-style: outset !important;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133)) !important;
  border-image: initial !important;
  background-color: #7E50BF !important;
  color: #fff !important;
  width: 308px !important;
  line-height: 53px !important;
  margin-left: 50px !important;
  margin-top: 20px !important;
}

.single-product a.added_to_cart {
  appearance: auto !important;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto !important;
  color: -internal-light-dark(black, white) !important;
  letter-spacing: normal !important;
  word-spacing: normal !important;
  text-transform: none !important;
  text-indent: 0px !important;
  text-shadow: none !important;
  display: inline-block !important;
  text-align: center !important;
  align-items: flex-start !important;
  cursor: default !important;
  background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59)) !important;
  box-sizing: border-box !important;
  margin: 0em !important;
  font: 400 18.3333px Roboto !important;
  padding: 1px 6px !important;
  border-width: 0 !important;
  border-style: outset !important;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133)) !important;
  border-image: initial !important;
  background-color: #7E50BF !important;
  color: #fff !important;
  width: 308px !important;
  line-height: 53px !important;
  margin-left: 50px !important;
  margin-top: 20px !important;
}

.single-product .single_product_lg_img img {
  margin-bottom: 15px;
}

.woocommerce-product-gallery__image img {
  padding-right: 8px;
}

.woocommerce_main_content_wrapper h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #373331;
  margin-bottom: 20px;
  margin-top: 30px;
}

.woocommerce_main_content_wrapper p {
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;
  color: #908A8A;
}

.single-product .after_btn_info_wrapper {
  margin-left: 50px;
  margin-bottom: 40px;
  margin-top: 30px;
}

.single-product .after_btn_info_element_1_container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 20px;
}

.single-product .after_btn_info_element_1_container_icon {
  background-image: url(../img/single_product_icon_1.svg);
  background-size: contain;
  width: 25px;
  height: 15px;
  margin-right: 15px;
  background-position: center;
  background-repeat: no-repeat;
}

.single-product .after_btn_info_element_1_container_text {
  color: #908A8A;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
}

.single-product .after_btn_info_element_2_container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 20px;
}

.single-product .after_btn_info_element_2_container_icon {
  background-image: url(../img/single_product_icon_2.svg);
  background-size: contain;
  width: 25px;
  height: 15px;
  margin-right: 15px;
  background-position: center;
  background-repeat: no-repeat;
}

.single-product .after_btn_info_element_2_container_text {
  color: #908A8A;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
}

.single-product .attribute_content_wrapper {
  margin-left: 50px;
}

.single-product .attribute_content_item_container {
  display: none;
}

.single-product .attribute_content_item_container_title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #373331;
  margin-bottom: 20px;
  margin-top: 10px;
}

.attribute_content_item_container_title_top {
  margin-top: 40px !important;
}

.single-product .attribute_content_item_container_single {
  height: 40px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 1px;
}

.attribute_content_item_container_single_name {
  height: 40px;
  width: 250px;
  background-color: #ECECEC;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #4A4A4A;
  line-height: 40px;
  padding-left: 10px;
}

.attribute_content_item_container_single_content {
  font-size: 14px;
  line-height: 16px;
  color: #4A4A4A;
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  font-weight: bold;
}

/* .single-product .slick-prev,
.single-product .slick-next {
  display: none !important;
} */
#single_product_main_img_container_thumb img {
  max-width: 100px;
  margin-right: 5px;
}

.single-product .home_page_product_line_wrapper_first {
  background-image: none !important;
}

.single-product .woocommerce_main_content_wrapper_text {
  max-height: 194px;
  overflow: hidden;
  transition: max-height 0.8s ease-out;
}

.single-product .woocommerce_main_content_wrapper_text.open {
  max-height: 2000px;
  overflow: hidden;
  transition: max-height 0.8s ease-in;
}

.single-product .woocommerce_main_content_wrapper_more_btn,
.single-product .woocommerce_main_content_wrapper_less_btn {
  display: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-decoration-line: underline;
  color: #7E50BF;
}

.single-product .woocommerce_main_content_wrapper_more_btn.open,
.single-product .woocommerce_main_content_wrapper_less_btn.open {
  display: block;
}

#single_product_main_img_container_main {}

#single_product_lg_img_wrapper {
  position: relative;
}

#single_product_lg_img_container {
  max-height: 620px;
  overflow: hidden;
  margin-bottom: 10px;
}

#single_product_lg_img_container_zoom {
  display: none;
  background-color: #fff;
  position: absolute;
  width: 600px;
  height: 620px;
  top: 0;
  right: -610px;
  z-index: 9;
  border-radius: 5px;
  background-size: 200%;
  background-repeat: no-repeat;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#cursor_position {
  display: none;
  z-index: 99;
  position: absolute;
  width: 120px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.4);
  border: 2px solid #fff;
}

#single_product_lg_img_wrapper .woocommerce-product-gallery__image--placeholder {
  cursor: crosshair;
}

.woocommerce #reviews #comments h2 {
  display: none;
}

.woocommerce #reviews #comments ol.commentlist {
  padding-left: 0;
}

.woocommerce #reviews #comments ol.commentlist {
  max-height: 300px;
  margin-bottom: 20px;
  overflow-y: scroll;
}

.woocommerce #reviews #comments ol.commentlist li img.avatar {
  width: 65px;
  padding: 0;
  border-radius: 2px;
  overflow: hidden;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text {
  margin-left: 80px;
}

.woocommerce #review_form #respond textarea {
  border: 1px solid #DEDCDC;
  box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  resize: none;
  background: #FFFFFF;
  height: 90px;
}

.woocommerce #respond input#submit {
  padding: 11px 35px;
}

.woocommerce p.stars a::before {
  color: #7E50BF;
}

.more_properties_btn {
  border: 1px solid #7E50BF;
  box-sizing: border-box;
  box-shadow: 0px 0px 4px #9657EF;
  border-radius: 2px;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #373331;
  padding: 17px 8px;
  position: relative;
  cursor: pointer;
  margin-bottom: 33px;
}

.more_properties_btn::after {
  content: '';
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%) rotate(0deg);
  transition: .3s;
  width: 20px;
  height: 11px;
  background: url('../img/drop-down_arrow.svg');
  background-size: cover;
}

.more_properties_btn.open::after {
  transition: .3s;
  transform: translateY(-50%) rotate(180deg);
}

.thwvsf-wrapper-ul .thwvsf-wrapper-item-li.thwvsf-selected {
  box-shadow: none;
  border: 1px solid #000000;
}

.thwvsf-wrapper-ul .thwvsf-wrapper-item-li {
  border-radius: 2px;
  width: 30px;
  height: 30px;
  padding: 0;
}

.thwvsf-wrapper-ul .thwvsf-wrapper-item-li.thwvsf-selected::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
  background: #555555;
  border-radius: 8px;
  height: 3px;
  width: 90%
}

.woocommerce div.product form.cart .reset_variations {
  display: none !important;
}

.woocommerce-review-link {
  display: none;
}

.single-product .price {
  color: #7E50BF !important;
}

.single-product .woocommerce_custom_wrapper_start .price bdi {
  font-size: 26px;
  font-weight: bolder;
  line-height: 20px;
  color: #7e50bf;
  text-align: center;
  text-decoration: none;
}

.single-product .woocommerce_custom_wrapper_start .price del bdi {
  font-size: 26px !important;
  line-height: 16px !important;
  color: #8f8f8f !important;
  text-align: center;
}

.single-product .product_title.entry-title {
  text-transform: capitalize;
}

.single-product .product_weight_value {
  display: block;
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  color: #4a4a4a;
  margin-bottom: 20px;
}

.woocommerce div.product form.cart .variations td.label {
  padding-right: 1em;
  max-width: 19px;
}

.single-product .woocommerce-product-rating {
  margin-bottom: 1.618 em;
  margin-bottom: 12 px;
}

.woocommerce_custom_wrapper_start .woocommerce-product-rating {
  margin-bottom: 22px;
}

.woocommerce div.product form.cart .variations label {
  font-weight: 600;
  font-size: 19px;
  font-family: 'Roboto';
  padding-top: 5px;
}

/* ================== SINGLE PRODUCT END  ================== */