/* ================== SINGLE POST TYPE STOCK START  ================== */
.single-stock .breadcrumbs_wrapper {
  padding-top: 10px;
}

.stock_first_section_wrapper {
  min-height: 900px;
  margin-top: 20px;
}


.stock_title {
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
  margin-bottom: 20px;
}

.stock_desc {
  font-size: 18px;
  line-height: 21px;
  text-align: justify;
  color: #8D8787;
  margin-bottom: 50px;
}

.end-stok {
  display: none;
}

.stok-timet_title {
  font-size: 18px;
  line-height: 21px;
  text-align: justify;
  color: #4A4A4A;
  margin-bottom: 27px;
}

.clock-canvas {
  border-radius: 50%;
  height: 104px;
  width: 104px
}

.clock-canvas::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 1px;
  transform: translateX(-50%);
  border: 4px solid #7E50BF;
  width: 102px;
  height: 102px;
  border-radius: 50%;
}

.clock-canvas::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 2px;
  transform: translateX(-50%);
  border: 1px solid #cdcdcd;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  z-index: 0;
}

.clock-canvas {
  position: relative;
}

.stok_date_day,
.stok_date_month,
.stok_date_year,
.clock-seconds {
  display: none;
}

.clock .val {
  font-size: 64px;
  line-height: 75px;
  color: #7E50BF;
  position: absolute;
  left: 50%;
  top: 55px;
  transform: translate(-50%, -50%);
}

.clock .type-time {
  font-size: 18px;
  line-height: 21px;
  text-align: justify;
  color: #8D8787;
  margin-top: 10px;
  text-align: center;
}

.stok_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.stok_round {
  background: #f7da58;
  border-radius: 50%;
  padding: 20px;
  color: #000;
  position: absolute;
  right: 20px;
  top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 112px;
  height: 112px;
}

.stok_round p {
  margin-bottom: 0;
}

.stok_round_title {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: bold;
}

.stok_round_num {
  font-size: 35px;
  line-height: 100%;
  font-weight: bold;
}

/* ================== SINGLE POST TYPE STOCK END  ================== */