/* ================== SINGLE POST TYPE STOCK START  ================== */
.single-stock .breadcrumbs_wrapper {
  padding-top: 10px;
}

.stock_first_section_wrapper {
  min-height: 900px;
  margin-top: 20px;
}

/* ================== SINGLE POST TYPE STOCK END  ================== */